.cards {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900; 
  color: #000;
}

.cards__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  line-height: 29.05px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-button {
  border-style: none;
  background: transparent center no-repeat;
  padding: 0;
  margin: 0;
  align-self: center;
  width: 21px;
  height: 18px;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
