.card {
  background-color: #fff;
  border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  line-height: 29.05px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-button {
  border-style: none;
  background: transparent no-repeat;
  padding: 0;
  margin: 0;
  align-self: center;
  width: 21px;
  height: 18px;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.active_like-button {
  background-image: url(..//images/active-like-button.svg);
}

.card__delete-button {
  position: absolute;
  border-style: none;
  background: transparent no-repeat;
  padding: 0;
  margin: 0 15px 595px 229px;
  align-self: center;
  width: 18px;
  height: 19.3px;
}

.card__delete-button:hover {
  opacity: 60%;
}
