.header {
  border-bottom: 1px;
  border-color: rgba(84, 84, 84, 0.7);
  border-bottom-style: solid;
  padding: 45px 0 41px;
}

.header__title {
  opacity: 100%;
}

@media screen and (max-width: 879px) {
  .header {
    padding-left: 27px;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .header {
    max-width: 650px;
    padding: 28px 0 32px 27px;
  }
  .header__title {
    width: 126px;
    height: 24px;
  }
}
