@media screen and (max-width: 879px) {
  .page__section {
    max-width: 800px;
    box-sizing: border-box;
  }
  .header {
    padding-left: 27px;
    width: 100%;
  }
  .profile {
    display: flex;
    padding: 36.25px 0;
    align-items: center;
  }
  .profile__info {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  .profile__name {
    padding: 26.25px 0 0;
    font-size: 32px;
    grid-column: 1;
  }
  .profile__edit-button {
    height: 24px;
    width: 24px;
    grid-column: 2;
    margin-left: 10px;
  }
  .profile__title {
    font-size: 18px;
    line-height: 21.78px;
    color: #fff;
    margin: 0 auto 0 0;
    align-self: flex-start;
  }
  .profile__add-button {
    border: 2px;
    border-color: #fff;
    border-style: solid;
    height: 50px;
    width: 150px;
    background: transparent center no-repeat;
    margin: auto;
  }
  .footer {
    width: 600px;
    margin: 0 auto;
  }
}
